@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1715192680487-6a6cf6919e6b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}
nav{
    height: 11vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.349); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}
nav .menu{
    font-size: 12px;
    font-weight: 400;
    background-color: rgba(107, 107, 107, 0.541);
    padding: 5px 13.5px;
    border-radius: 100px;
    cursor: pointer;
    border: 1.5px solid transparent;
    transition: 0.2s;
}
.menu:hover{
    background-color: rgba(0,0,0,0.5);
    border: 1.5px solid white;
}
nav .logo{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
nav .time{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.hero{
    height: 89vh;
    width: 100%;
    /* background-color: #000; */
    padding: 0 35px;
    display: flex;
    align-items: center;
}
.hero .items{
    height: 90%;
    width: 10%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    overflow-y: auto;
}
.items::-webkit-scrollbar{
    display: none;
}
.items .item{
    font-size: 12px;
    font-weight: 400;
    background-color: rgba(107, 107, 107, 0.541);
    border: 1.5px solid transparent;
    padding: 5px 13.5px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.2s;
    color: #fff;
}
.item:hover{
    background-color: rgba(0,0,0,0.5);
    border: 1.5px solid #fff;
}
.hero .container{
    height: 100%;
    width: 90%;
    /* background-color: aliceblue; */
    position: relative;
}
.container .description-container{
    position: absolute;
    top: 30%;
    left: 40%;
    /* background-color: yellow; */
    width: 30%;
    overflow: hidden;
}
.container p.description{
    /* font-family: "Playfair Display", serif; */
    font-weight: 400;
    font-size: 17px;
}
.container .tag-container{
    position: absolute;
    left: 30%;
    top: 10%;
    /* background-color: coral; */
}
.container h3.tag{
    font-size: 16px;
    font-weight: 300;
}
.container .title-container{
    position: absolute;
    left: 38%;
    bottom: 5%;
    /* background-color: thistle; */
}
.container h1.title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 60px;
}
.container img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.container .img-1{
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    width: 300px;
    width: 0;
}
.container .img-2{
    top: 5%;
    right: 2.5%;
    height: 300px;
    width: 0;
}
.container .img-3{
    bottom: 5%;
    right: 2.5%;
    height: 210px;
    height: 0;
}
.description-container, .tag-container,.title-container{
    overflow: hidden;
}
.description-container p, .tag-container h3,.title-container h1{
    transform: translateY(120%);
    color: #fff;
}